.thumbnail{
  width: 100%;
}

.video-title{
  margin-top: 0%;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture{
  width : 40px;
  border-radius: 50px;
}

.video-thumbnail{
  margin-bottom: 12px;
  position:relative;
}

.video-author{
  font-size: 14px;
  color :rgb(96,96,96);
  margin-bottom: 5px;
}

.video-stats{
  font-size: 14px;
  color : rgb(96,96,96);
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media(max-width :750px) {
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}


@media(min-width :751px) and (max-width :1000px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media(min-width:1000px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time{
  font-family: Roboto,Arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  background-color: black;
  color:white;
  position:absolute;
  right:5px;
  bottom:8px;

}